body { 
    padding-top: 70px;
    height: 100%;
    margin: 0;
    font-family: Open Sans, Helvetica, Arial;
}

* {
  font-family: Open Sans, Helvetica, Arial;
}

.fa-paragraph:before {
  font-weight: bold;
  content: '§';
}

h1,
h2,
h3,
h4 {
  font-family: 'Ubuntu', sans-serif, Open Sans, Helvetica, Arial;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 18.3px;
}