// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       $grid-columns;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$cpkg-blue:             #6285AF;
$deep-blue:             #2F5C86;
$cpkg-grey:             #A9A9AB;
