<div class="row">
    <div class="col-sm-4" id="address-block">
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">first.last@example.com</a>
        </address>
    </div>
    <div class="col-sm-8" id="contact-information">
        <p>
            {{ page.content }}
        </p>
        <p>
            Indywidualny kontakt do radców prawnych CPKG (po najechaniu myszą na ikonę):
            <ul class="list-unstyled">
                {% for entry in entries %}
                <li>{{ entry.title }} <i data-toggle="tooltip" title="{{ entry.types('contact-no') }}" data-placement="right" class="fa fa-info-circle"></i></li>
                {% endfor %}
            </ul>
        </p>
    </div>
</div>
<div id="map-canvas"></div>
