<div class="row">
    <div class="col-sm-4" id="address-block">
        <address>
            <strong>CPKG Radcowie Prawni</strong><br>
            ul. Gen. Wł. Andersa 38A<br>
            15-113 Białystok<br>
            <abbr title="Phone">T:</abbr> 602 129 494
        </address>

        <address>
            <strong>Email</strong><br>
            <a href="mailto:biuro@cpkg.pl">biuro@cpkg.pl</a>
        </address>
    </div>
    <div class="col-sm-8" id="contact-information">
        <p>
            {{ page.content }}
        </p>
        <p>
            Indywidualny kontakt do radców prawnych CPKG (po najechaniu myszą na ikonę):
            <ul class="list-unstyled">
                {% for entry in entries %}
                <li>{{ entry.title }} <i data-toggle="tooltip" title="{{ entry.types('contact-no') }}" data-placement="right" class="fa fa-info-circle"></i></li>
                {% endfor %}
            </ul>
        </p>
    </div>
</div>
<div id="map-canvas"></div>
