<section class="widget">
    <h5><strong>CPKG Radcowie Prawni</strong></h5>
    <address>
        ul. Gen. Wł. Andersa 38A<br>
        15-113 Białystok<br>
        <abbr title="Phone">T:</abbr> 602 129 494
    </address>

    <address>
        <strong>Email</strong><br>
        <a href="mailto:#">biuro@cpkg.pl</a>
    </address>
</section>