<div class="panel-group" id="accordion">
    {% for entry in entries %}        
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" class="">
                    <h4 class="panel-title">                    
                        {{ entry.title }}
                        <i class="fa fa-sort-amount-asc pull-right"></i>
                    </h4>
                </a>
            </div>
            <div id="collapse{{ loop.index }}" class="panel-collapse collapse {% if query_vars['service_id'] == entry.id %} in {% endif %}">
                <div class="panel-body">{{ entry.content }}</div>
            </div>
        </div>        
    {% endfor %}
</div>