<a class="btn btn-primary btn-lg" href="{{ entrepreneurs_page.permalink }}" role="button">
    Przedsiębiorcy
    <i class="fa fa-chevron-right pull-right"></i>
</a>
<a class="btn btn-primary btn-lg" href="{{ enterprise_page.permalink }}" role="button">
    Spółki
    <i class="fa fa-chevron-right pull-right"></i>
</a>
<a class="btn btn-primary btn-lg" href="{{ consumers_page.permalink }}" role="button">
    Osoby fizyczne / konsumenci
    <i class="fa fa-chevron-right pull-right"></i>
</a>
{{ sidebar_widgets }}