<a class="btn btn-primary btn-lg" href="#" role="button">
    Przedsiębiorcy
    <i class="fa fa-chevron-right pull-right"></i>
</a>
<a class="btn btn-primary btn-lg" href="#" role="button">
    Spółki
    <i class="fa fa-chevron-right pull-right"></i>
</a>
<a class="btn btn-primary btn-lg" href="#" role="button">
    Osoby fizyczne / konsumenci
    <i class="fa fa-chevron-right pull-right"></i>
</a>
{{ sidebar_widgets }}