<a class="btn btn-primary btn-lg h_relative" href="{{ entrepreneurs_page.permalink }}" role="button">
    <h3>Przedsiębiorcy</h3>
    <div class="chevron-wrapper">
        <i class="fa fa-chevron-right "></i>
    </div>
</a>
<a class="btn btn-primary btn-lg h_relative" href="{{ enterprise_page.permalink }}" role="button">
    <h3>Spółki</h3>
    <div class="chevron-wrapper">
        <i class="fa fa-chevron-right "></i>
    </div>
</a>
<a class="btn btn-primary btn-lg h_relative" href="{{ consumers_page.permalink }}" role="button">
    <h3>Osoby fizyczne / konsumenci</h3>
    <div class="chevron-wrapper">
        <i class="fa fa-chevron-right "></i>
    </div>
</a>
{{ sidebar_widgets }}