{% for entry in entries %}
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="{{ entry.thumbnail.src }}" alt="...">
        </div>
      </div>
      <div class="col-xs-6 col-md-6">
        <div class="member-description">
            <h2>{{ entry.types('email-address') }}</h2>
        </div>
      </div>        
    </div>    
{% endfor %}
