aside {

  margin-top: 40px;

  form[class*="wpc"] {
    background-color: #F5F9FB;
    padding: 10px;
  }

  h3 {
    background-color: #31B0D5;
    padding: 11px;
    margin-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    font-size: 16px;
  }

  .wpcf7-form {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

}